@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital@0;1&display=swap');
@import "tailwindcss";



.roboto-condensed-regular {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.inter-regular {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.z-nav{
  z-index: 999;
}

.z-cursor{
  z-index: 1999;
}

#root {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: black;
  min-height: 100vh;
  cursor: none;
  overflow-x: hidden;
}

.clip-triangle {
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}
.clip-normal {
  clip-path: polygon(0% 0%, 0% 0%, 0% 0%);
}

.no-cursor {
  cursor: default;
}

iframe {
  transform: scale(1.005); /* Slight zoom to push scrollbar out */
  transform-origin: top left;
}